@media(max-width:576px){
    .container{
        width: 95%;
        margin: 0 auto;
    }
    h2{
        font-size: 3.2rem;
        line-height: 4rem;
     }
     /* Habit section  */
     .habits {
        max-width: 50%;
        margin: 0 auto;
    }
    .run-contents {
        flex-direction: column;
        padding: 3rem 5.5rem;
        gap: 3rem;
    }
    .run-text {
        width: 100%;
    }
    .run-img{
        width: 28.7rem;
        height: 17rem;
        text-align: center;
        background-image: url("../images/run.jpg");
    }
    .services{
        
        gap: 1rem;
    }
    .service-content {
        padding: 2rem 0rem;
    }

    .footer-content {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer-logo {
        max-width: 100%;
    }
    .footer-col {
        width: 101%;
        margin-top: 3rem;
    }
    .footer-bottom {
        /* margin: 3rem auto; */
        text-align: left;
      
    }

}